@font-face {
  font-family: 'MonoplexKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'MonoplexKR-Regular';
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #e6e6e6;
}

main {
  margin: 6.25rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.drink {
  display: flex;
  width: 650px;
  margin: 3.125rem 0;
}

.drink img {
  border-radius: 5px;
}

.drink-detail {
  margin-left: 50px;
}

button {
  border: 2px solid #1b3c35;
  border-radius: 5px;
  color: #1b3c35;
  width: 9.375rem;
  padding: 5px;
  font-size: 18px;
  font-weight: 800;
}